<div class="rememberEditItem">
  <div class="RememberEditMenu">
    <a><%= link_to "Show", @remember %></a>
    <a><%= link_to "Back", remembers_path %></a>
  </div>
  
  <%= render "form" %>
  
  <div class="RememberEditMenu">
    <a><%= link_to "Show", @remember %></a>
    <a><%= link_to "Back", remembers_path %></a>
  </div>
  
</div>

